<config>
    <modules>
        <Doghouse_Video>
            <version>0.0.2</version>
        </Doghouse_Video>
    </modules>
    <global>
        <blocks>
            <video>
                <class>Doghouse_Video_Block</class>
            </video>
        </blocks>
        <helpers>
            <doghouse_video>
                <class>Doghouse_Video+Helper</class>
            </doghouse_video>
        </helpers>
        <resources>
            <doghouse_video_setup>
                <setup>
                    <module>Doghouse_Video</module>
                    <class>Doghouse_Video_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </doghouse_video_setup>
        </resources>
    </global>
</config>
